
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
}
nav {
  border: none; /* Remove any border */
  margin: 0; /* Ensure there's no margin around the nav */
  padding: 0; /* Ensure there's no padding around the nav */
  background-color: #004d4d; /* Match this color to your design */
}

.container {
  margin: 0; /* Remove container margins if any */
  padding: 0; /* Remove container padding if any */
  border: none; /* Remove container border if any */
}

.mx-auto {
  margin: 0 auto; /* Ensure the container is centered without extra margin */
}



body {
  font-family: 'Poppins', sans-serif;
}
.font-en {
  font-family: 'Roboto', sans-serif;
}

.font-ar {
  font-family: 'Cairo', sans-serif;
}

.background_footer {
  background: rgb(16, 68, 72);
  background: linear-gradient(90deg, rgba(16, 68, 72, 1) 0%, rgba(24, 145, 124, 1) 100%);
  transition: background 0.5s ease-in-out;
}

.background_footer:hover {
  background: rgb(16,68,72);
  background: linear-gradient(335deg, rgba(16,68,72,1) 9%, rgba(24,145,125,0.8604691876750701) 83%);
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

@keyframes fadeInOutBorder {
  0%, 100% {
    opacity: 0;
    border-color: white;
  }
  50% {
    opacity: 1;
    border-color: yellow;
  }
}
